[Unit]
Description=Glances
Documentation=man:glances(1)
Documentation=https://github.com/nicolargo/glances
After=network.target

[Service]
ExecStart=/usr/local/bin/glances -w --disable-webui -C /etc/glances/glances.conf --disable-autodiscover
Restart=on-abort

[Install]
WantedBy=multi-user.target
