apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
bootstrapTokens:
  - token: "9a33jv.c0izixklcxtmnze7"
    description: "kubeadm bootstrap token"
    ttl: "24h"
  - token: "973bde.3f89s0fje9f38fhf"
    description: "another bootstrap token"
    usages:
      - authentication
      - signing
    groups:
      - system:bootstrappers:kubeadm:default-node-token
nodeRegistration:
  name: "{{ ansible_facts['nodename'] }}"
certificateKey: "bedce689909908c8258f0ebb2443ba657d537c6836c9626b35cea5ceb350cf57"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
controlPlaneEndpoint: "kubernetes.podcake.net"
certificatesDir: "/etc/ssl/certs/kubernetes.podcake.net"
clusterName: "podcake.net"
networking:
  serviceSubnet: "10.1.6.0/24"
  podSubnet: "10.1.7.0/24"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
nodeRegistration:
  name: "{{ ansible_facts['nodename'] }}"
  taints: []
discovery:
  bootstrapToken:
    apiServerEndpoint: "kubernetes.podcake.net"
    token: "973bde.3f89s0fje9f38fhf"
    unsafeSkipCAVerification: true
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
address: "{{ ansible_facts['default_ipv4']['address'] }}"
port: 20250
serializeImagePulls: false
evictionHard:
    memory.available:  "100Mi"
    nodefs.available:  "10%"
    nodefs.inodesFree: "5%"
    imagefs.available: "15%"
    imagefs.inodesFree: "5%"
cgroupDriver: systemd
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
